@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import "tailwindcss";

.SongTitle{
    font-family: "Wix Madefor Display", sans-serif; 
    font-size: xx-large;
    font-weight: 900;
    line-height: 1;
}
.mobile_Title{
  font-family: "Wix Madefor Display", sans-serif; 
    font-size: x-large;
    font-weight: 600;
    line-height: 1;
}

.LogoFont{
    font-family: "Pacifico", cursive;
    
}


.slider{
   
   width: 100%;
   height: 2px;
   appearance: none;
   background: #166440;
   opacity: 0.65;
   /* -webkit-transition: .2s; 0.2 seconds transition on hover */
    transition: opacity .2s;

}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 0.8rem; /* Set a specific slider handle width */
  height: 0.8rem; /* Slider handle height */
  background: #e6f5f0; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}
